$background: #121212;
$background-transparent: rgba(0, 0, 0, 0.75);

window {
	background: $background-transparent;
}

.hyprland-workspaces-container {
	background: $background;
	& > button {
		background: red;
	}
}
